[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/bigspring-hugo"]
	path = themes/bigspring-hugo
	url = git@github.com:themefisher/bigspring-hugo.git
