body {
  font-family: "Ubuntu", monospace;
  background-color: #fffefb; 
  color: #5c5955;
  margin: 0em;
}

a {
  text-decoration: none;
  color: #8a8885;
}

a:hover {
  text-decoration: underline;
}

/* fonts.css */

@font-face {
    font-family: 'Ubuntu-Italic';
    font-style: monospace;
    font-weight: 400;
    src: url('/fonts/Ubuntu-Italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'Ubuntu-Regular';
    font-style: monospace;
    font-weight: 400;
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Ubuntu-BoldItalic';
    font-style: monospace;
    font-weight: 700;
    src: url('/fonts/Ubuntu-BoldItalic.ttf') format('truetype'),
}

@font-face {
    font-family: 'Ubuntu-Bold';
    font-style: monospace;
    font-weight: 700;
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype'),
}
